body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(201, 198, 64);
    background-color: rgb(2, 0, 17);
}
h1{
    color: rgb(255, 255, 255);
}
header{
    text-align: center;
}
span{
    background-color: aliceblue;
    color: black;
    padding: 5px;
}
footer{
    text-align: center;
    color: aqua;
}