*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(201, 198, 64);
    background-color: rgb(2, 0, 17);
}
h1{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(201, 198, 64);
}
header{
    text-align: center;
}
span{
    background-color: aliceblue;
    color: black;
    padding: 5px;
    border: 1px;
    border-radius: 5px;}
footer{
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(75, 74, 16);
}
main{
    text-align: center;
    padding-top: 20px;
}
div{
    padding-bottom: 20px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border: 2px solid rgb(180, 177, 3);
    box-shadow: 2px 2px 5px rgb(82, 80, 12);
    border-radius: 7px;
}
section{
    display: flex;
}
.descrição{
    padding-bottom: 25px;
}

.Avatar{
    padding-top: 20px;
}